@use './index' as *;
.aside {
  display: flex;
  width: $aside-width;
  height: $aside-height;
  background: $aside-background;
  margin: 0;
  border-right: $aside-border solid $aside-border-background;
  &__section {
    padding-top: 30px;
    width: $aside-width;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    text-align: center;
    margin: 0px;
    width: 46px;
    margin-bottom: 15px;
  }
  &__help {
    text-align: center;
    img {
      margin-top: 6px;
    }
    width: $aside-help-width;
    height: $aside-help-height;
    border-top: $aside-border solid $aside-border-background;
    margin-top: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  &__button {
    margin-top: auto;
    border: 0;
    background: none;
  }
  &__button-icon {
    background: none;
    border: 0;
  }
}
