.button-click {
  padding: 0px 16px;
  height: 24px;
  border: none;
  background: #0078d2;
  border-radius: 99px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  transition: background 0.3s;
  &:hover {
    background: #116db3;
  }
  &:active {
    background: #02508b;
  }
  &:focus {
    outline: none;
  }
}
