$time-animation: 0.3s;
$background: #22272b;
$border-background: #4e5255;
$metric-header-color: #fafafa;

$header-height: 60px;
$header-width: 100%;
$header-border: 1px;
$header-button-width: 32px;
$header-font-size: 18px;
$header-font-weight: 700;
$header-background: $background;
$header-border-background: $border-background;

$aside-width: 60px;
$aside-height: 1874px;
$aside-help-width: 60px;
$aside-help-height: 60px;
$aside-border: 1px;
$aside-background: $background;
$aside-border-background: $border-background;

$button-click-font-size: 12px;
$button-click-font-weight: 300;
$button-click-height: 24px;
$button-click-border-radius: 99px;
$button-click-background: #0078d2;
$button-click-background-hover: #116db3;
$button-click-background-active: #02508b;

$metrics-gap: 25px;

$metric-add-background: #161a1d;
$metric-add-height: 175px;
$metric-add-weight: 305px;
$metric-add-border: 1px;
$metric-add-border-background: rgba(255, 255, 255, 0.2);

$metric-add-font-size: 12px;
$metric-add-font-weight: 300;
$metric-add-button-border-radius: 99px;
$metric-add-button-height: 24px;
$metric-add-button-color: rgba(255, 255, 255, 0.75);
$metric-add-button-background: rgba(250, 250, 250, 0.16);
$metric-add-button-background-hover: rgba(250, 250, 250, 0.12);
$metric-add-button-background-active: rgba(250, 250, 250, 0.068);
$metric-add-font-color: $metric-header-color;

$metric-pie-width: 75px;
$metric-pie-height: 75px;
$metric-pie-value-font-size: 14px;
$metric-pie-value-font-weight: 600;
$metric-pie-value-color: $metric-header-color;

$metric-background: $background;
$metric-height: 140px;
$metric-weight: 270px;
$metric-border-radius: 4px;
$metric-header-font-color: $metric-header-color;
$metric-header-font-size: 16px;
$metric-header-font-weight: 500;
$metric-header-line-height: 24px;
$metric-title-font-size: 14px;
$metric-title-font-weight: 400;
$metric-title-font-color: rgba(255, 255, 255, 0.6);
$metric-title-line-height: 21px;

$user-profile-background: #161a1d;
$user-profile-width: 100%;
$user-profile-height: 10%;
$user-profile-gap: 15px;
$user-profile-button-font-size: 14px;
$user-profile-button-font-weight: 300;
$user-profile-button-font-color: #ffffff;
$user-profile-button-height: 32px;
$user-profile-button-border-radius: 4px;
$user-profile-figure-width: 50px;
$user-profile-figure-height: 50px;
$user-profile-figure-calendar-width: 32px;
$user-profile-figure-calendar-height: 32px;
$user-profile-img-calendar-height: 24px;
$user-profile-img-calendar-width: 24px;
$user-profile-figure-calendar-background: #2e2e2e;
$user-profile-figure-calendar-background-hover: #444;
$user-profile-header-font-size: 24px;
$user-profile-header-font-weight: 600;
$user-profile-header-font-color: #fafafa;
$user-profile-title-font-size: 16px;
$user-profile-title-font-weight: 300;
$user-profile-title-font-color: rgba(255, 255, 255, 0.6);

$analitics-work-space-height: 1054px;

$segmented-controls-user-profile-weight: 176px;
$segmented-controls-user-profile-height: 30px;
$segmented-controls-user-profile-font-size: 14px;

$segmented-controls-count-incidents-weight: 198px;
$segmented-controls-count-incidents-height: 24px;
$segmented-controls-count-incidents-font-size: 12px;

$segmented-controls-font-weight: 300;
$segmented-controls-font-color: rgba(255, 255, 255, 0.8);
$segmented-controls-color-target: #ffffff;

@mixin font-style-text($font-size, $font-weight, $color: #ffffff) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

@mixin metric-style {
  background: $metric-background;
  width: $metric-weight;
  height: $metric-height;
  padding: 15px 15px 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: $metric-border-radius;
}

@mixin style-segmented-controls(
  $width,
  $height,
  $segmented-controls-font-size,
  $segmented-controls-font-weight,
  $font-color,
  $color-target
) {
  display: flex;
  width: $width;
  height: $height;
  position: relative;
  overflow: hidden;
  transition: all $time-animation ease;
  border: 0.1px solid rgba(246, 251, 253, 0.28);
  border-radius: 100px;
  box-sizing: border-box;
  /*
   * Vissualy hidden radiobuttons
   */
  input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
  /* 
 * Labels need to be the same size
 */
  label {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex: 1 1 0px;
    position: relative;
    z-index: 2;
    transition: inherit;

    /*
 * Labels 
 */
    @include font-style-text(
      $segmented-controls-font-size,
      $segmented-controls-font-weight,
      $font-color
    );
  }
  input:checked + label {
    color: $color-target;
  }
  /* 
 * Adjust z-index of last label since that contains 
 * the paddle that needs to go beneath all other labels 
 */
  label:last-of-type {
    z-index: 1;
  }
  /*
 * Paddle 
 */
  label:last-of-type::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: black;
    transition: inherit;
  }
  /*
 * Move paddle depending on which option is selected
 * (Manually expanded for up to 5 options)
 */
  input:nth-last-of-type(2):checked ~ label:last-of-type::after {
    transform: translateX(-100%);
  }
  input:nth-last-of-type(3):checked ~ label:last-of-type::after {
    transform: translateX(-200%);
  }
  /*
 * Container
 */
  /*
 * Dividers
 */
  label:not(:first-of-type)::before {
    content: '';
    position: absolute;
    z-index: -3;
    top: 0.5rem;
    left: 0;
    bottom: 0.5rem;
    width: 1px;
    background: rgba(0, 0, 0, 0.15);
    transition: inherit;
  }
  input:checked + label::before,
  input:checked + label + input + label::before {
    opacity: 0;
  }
  label:last-of-type::after {
    background: #0078d2;
    border-radius: 100px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow:
      0px 3px 1px rgba(0, 0, 0, 0.04),
      0px 3px 8px rgba(0, 0, 0, 0.12);
  }
}
