@use './index' as *;

.metric-add {
  background: $metric-add-background;
  border: $metric-add-border solid $metric-add-border-background;
  border-radius: $metric-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $metric-add-weight;
  height: $metric-add-height;
  &__figure {
    margin: 35px 0 10px 0;
    width: 24px;
    height: 24px;
  }
  p {
    @include font-style-text(
      $metric-add-font-size,
      $metric-add-font-weight,
      $metric-add-font-color
    );
    height: 28px;
    line-height: 14px;
    text-align: center;
    margin: 0 0 26px 0;
  }
  &__button {
    padding: 0 16px;
    height: $metric-add-button-height;
    background: $metric-add-button-background;
    border: none;
    border-radius: $metric-add-button-border-radius;
    @include font-style-text(
      $metric-add-font-size,
      $metric-add-font-weight,
      $metric-add-font-color
    );
    color: $metric-add-button-color;
    transition: background $time-animation;
  }
  &__button:hover {
    background: $metric-add-button-background-hover;
  }
  &__button:active {
    background: $metric-add-button-background-active;
  }
}
