@use './index' as *;
.metric-notifications {
  @include metric-style;
  &__container-graphics {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
  }
  &__container {
    display: flex;
    align-items: end;
  }
  &__header {
    width: 133px;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 0;
    line-height: $metric-header-line-height;
    @include font-style-text(
      $metric-header-font-size,
      $metric-header-font-weight,
      $metric-header-font-color
    );
  }
  &__last-time {
    margin: 0;
    width: 176px;
    height: 45px;
    line-height: $metric-title-line-height;
    @include font-style-text(
      $metric-title-font-size,
      $metric-title-font-weight,
      $metric-title-font-color
    );
  }
}
