@use './index' as *;

.metric-pie {
  width: $metric-pie-width;
  height: $metric-pie-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__value {
    position: absolute;
    @include font-style-text(
      $metric-pie-value-font-size,
      $metric-pie-value-font-weight,
      $metric-pie-value-color
    );
  }
}
