@use './index' as *;
.profile {
  background: $user-profile-background;
  height: $user-profile-height;
  font-family: 'Inter';
  font-style: normal;
  padding: 49px 42px 50px 43px;
  &__people {
    display: flex;
    gap: $user-profile-gap;
    margin-bottom: 48px;
  }
  &__button {
    @include font-style-text(
      $user-profile-button-font-size,
      $user-profile-button-font-weight,
      $user-profile-button-font-color
    );
    line-height: $user-profile-button-height;
    height: $user-profile-button-height;
    padding: 0px 16px;
    background: $button-click-background;
    border-radius: $user-profile-button-border-radius;
    border: none;
    transition: background $time-animation;
    margin-left: auto;
  }
  &__button:hover {
    background: $button-click-background-hover;
  }
  &__button:active {
    background: $button-click-background-active;
  }
  &__figure {
    margin: 0px;
    img {
      margin-top: 2px;
      width: $user-profile-figure-width;
      height: $user-profile-figure-height;
    }
  }
  &__title {
    h2 {
      margin-bottom: 5px;
      margin: 0;
      line-height: 29px;
      @include font-style-text(
        $user-profile-header-font-size,
        $user-profile-header-font-weight,
        $user-profile-header-font-color
      );
    }
    p {
      margin: 0;
      line-height: 19px;
      @include font-style-text(
        $user-profile-title-font-size,
        $user-profile-title-font-weight,
        $user-profile-title-font-color
      );
    }
  }
  &__selected-time {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  &__figure-calendar {
    margin: 0;
    width: $user-profile-figure-calendar-width;
    height: $user-profile-figure-calendar-height;
    background: $user-profile-figure-calendar-background;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background $time-animation;
    img {
      width: $user-profile-img-calendar-width;
      height: $user-profile-img-calendar-height;
    }
  }
  &__figure-calendar:hover {
    background: $user-profile-figure-calendar-background-hover;
  }
}
