@use '../index' as *;
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $header-width;
  height: $header-height;
  background: $header-background;
  border-bottom: $header-border solid $header-border-background;
  &__title {
    margin: 17.5px auto 17.5px 24px;
    width: 582px;
    height: 25px;
    @include font-style-text($header-font-size,$header-font-weight);
  }
  &__notification {
    margin: 0 8px 0 auto;
    width: $header-button-width;
    img {
      vertical-align: middle;
    }
  }
  &__segments {
    margin: 0 24px 0 0;
    width: $header-button-width;
    img {
      vertical-align: middle;
    }
  }
  &__button {
    padding: 0;
    background: none;
    border: none;
  }
}
