@use '../index' as *;

.button-click {
  @include font-style-text($button-click-font-size, $button-click-font-weight);
  padding: 0px 16px;
  height: $button-click-height;
  border: none;
  background: $button-click-background;
  border-radius: $button-click-border-radius;
  line-height: $button-click-height;
  transition: background $time-animation;
  &:hover {
    background: $button-click-background-hover;
  }
  &:active {
    background: $button-click-background-active;
  }
  &:focus {
    outline: none;
  }
}
